## Create DataFrames

In [1]:
import copy
import pandas as pd
from df_compare import DF_Compare
from IPython.display import display, HTML, display_html

def display_side_by_side(*args):
    html_str=''
    for df in args:
        html_str+=df.to_html()
    display_html(html_str.replace('table','table style="display:inline"'),raw=True)

data_orig = {'id': [1,2,3,4,5,6,7]
,'name': ['Xavier', 'Ann', 'Jana', 'Yi', 'Robin', 'Amal', 'Nori']
,'city': ['Mexico City', 'Toronto', 'Prague', 'Shanghai','Manchester', 'Cairo', 'Osaka']
,'age': [41, 28, 33, 34, 38, 31, 37]
,'score': [88.0, 79.0, 81.0, 80.0, 68.0, 61.0, 84.0]
,'system_time': ['2020-01-02 01:25', '2020-01-02 01:26', '2020-01-02 01:27', '2020-01-02 01:28', '2020-01-02 01:29', '2020-01-02 01:30', '2021-01-02 01:31']
}
data_mod = {'id': [1,2,3,4,5,6,8]
,'name': ['Xavier', 'Ann', 'Jana', 'Yi', 'Robin', 'Amal', 'Nori']
,'city': ['Mexico City', 'Toronto', 'Prague', 'Shanghai','Manchester', 'CaiRo', 'Osaka']
,'age': [41, 28, 33, 34, 38, 31, 37]
,'score': [88.0, 79.0, 81.0, 80.0, 68.0, 61.5, 84.0]
,'system_time': ['2020-01-03 02:25', '2020-01-03 02:26', '2020-01-03 02:27', '2020-01-03 02:28', '2020-01-03 02:29', '2020-01-03 02:30', '2021-01-03 02:31']
}

left_df = pd.DataFrame(data_orig)
right_df = pd.DataFrame(data_mod)

print('Original DataFrame                                Modified DataFrame')
display_side_by_side(left_df, right_df)

Original DataFrame                                Modified DataFrame

,id,name,city,age,score,system_time
0,1,Xavier,Mexico City,41,88.0,2020-01-02 01:25
1,2,Ann,Toronto,28,79.0,2020-01-02 01:26
2,3,Jana,Prague,33,81.0,2020-01-02 01:27
3,4,Yi,Shanghai,34,80.0,2020-01-02 01:28
4,5,Robin,Manchester,38,68.0,2020-01-02 01:29
5,6,Amal,Cairo,31,61.0,2020-01-02 01:30
6,7,Nori,Osaka,37,84.0,2021-01-02 01:31
,id,name,city,age,score,system_time
0,1,Xavier,Mexico City,41,88.0,2020-01-03 02:25
1,2,Ann,Toronto,28,79.0,2020-01-03 02:26
2,3,Jana,Prague,33,81.0,2020-01-03 02:27
3,4,Yi,Shanghai,34,80.0,2020-01-03 02:28
4,5,Robin,Manchester,38,68.0,2020-01-03 02:29
5,6,Amal,CaiRo,31,61.5,2020-01-03 02:30
6,8,Nori,Osaka,37,84.0,2021-01-03 02:31

## Find differences by join columns(keys) and compare cell by cell (deep compare)
### * compare all columns
##### Note: The cells that match will not show

In [2]:
compjcd = DF_Compare(copy.deepcopy(left_df),copy.deepcopy(right_df), columns_to_join=['id']) # Created the new object of DF_Compare class and print the initial shape of two DataFrames
compjcdv = compjcd.get_differences_by_deep_compare_join_columns() # Compare the Two DataFrames by join columns and compare cell by cell, assing the result to a new variable
display(compjcdv)

Initial Shape(rows, columns): L-> (7, 6) | R-> (7, 6)
finding differences: 100%|██████████| 8/8 [00:00<00:00, 340.41it/s]
The two DataFrames present differencess

,id,name,city,age,score,system_time
0,1,,,,,2020-01-02 01:25 != 2020-01-03 02:25
1,2,,,,,2020-01-02 01:26 != 2020-01-03 02:26
2,3,,,,,2020-01-02 01:27 != 2020-01-03 02:27
3,4,,,,,2020-01-02 01:28 != 2020-01-03 02:28
4,5,,,,,2020-01-02 01:29 != 2020-01-03 02:29
5,6,,Cairo != CaiRo,,61.0 != 61.5,2020-01-02 01:30 != 2020-01-03 02:30
6,7 != None,Nori != nan,Osaka != nan,37.0 != nan,84.0 != nan,2021-01-02 01:31 != nan
7,None != 8,nan != Nori,nan != Osaka,nan != 37.0,nan != 84.0,nan != 2021-01-03 02:31

### * Exclude the system_time column
##### Note: The cells that match will not show

In [3]:
compjcdx = DF_Compare(copy.deepcopy(left_df),copy.deepcopy(right_df), columns_to_join=['id'], columns_to_exclude=['system_time']) # Created the new object of DF_Compare class and print the initial shape of two DataFrames
compjcdxv = compjcdx.get_differences_by_deep_compare_join_columns() # Compare the Two DataFrames by join columns and compare cell by cell, assing the result to a new variable
display(compjcdxv)

Initial Shape(rows, columns): L-> (7, 6) | R-> (7, 6)
Shape(rows, columns) after delete columns to exclude: L-> (7, 5) | R-> (7, 5)
finding differences: 100%|██████████| 3/3 [00:00<00:00, 374.99it/s]
The two DataFrames present differencess

          id         name            city          age         score
0          6               Cairo != CaiRo               61.0 != 61.5
1  7 != None  Nori != nan    Osaka != nan  37.0 != nan   84.0 != nan
2  None != 8  nan != Nori    nan != Osaka  nan != 37.0   nan != 84.0

## Find differences only by join columns(keys)

In [4]:
compjc = DF_Compare(copy.deepcopy(left_df),copy.deepcopy(right_df), columns_to_join=['id']) # Created the new object of DF_Compare class and print the initial shape of two DataFrames
compjcv = compjc.get_differences_by_compare_join_columns() # Compare the Two DataFrames by join columns and assing the result to a new variable
display(compjcv)

Initial Shape(rows, columns): L-> (7, 6) | R-> (7, 6)
Compare by Join Columns: Exsist Left only-> 1 |Exsist Right only-> 1

,id,name_left_df,city_left_df,age_left_df,score_left_df,system_time_left_df,name_right_df,city_right_df,age_right_df,score_right_df,system_time_right_df,_merge
6,7,Nori,Osaka,37.0,84.0,2021-01-02 01:31,NaN,NaN,NaN,NaN,NaN,left_only
7,8,NaN,NaN,NaN,NaN,NaN,Nori,Osaka,37.0,84.0,2021-01-03 02:31,right_only

## Find differences by whole Row
### * Include all columns of DataFrames

In [5]:
compwr = DF_Compare(copy.deepcopy(left_df),copy.deepcopy(right_df)) # Created the new object of DF_Compare class and print the initial shape of two DataFrames
compwrv = compwr.get_differences_by_compare_whole_row() # Compare the Two DataFrames by whole row and assing the result to a new variable
display(compwrv)

Initial Shape(rows, columns): L-> (7, 6) | R-> (7, 6)
Compare by Whole Row: Exsist Left only-> 7 |Exsist Right only-> 7

    id    name         city  age  score       system_time      _merge
0    1  Xavier  Mexico City   41   88.0  2020-01-02 01:25   left_only
1    2     Ann      Toronto   28   79.0  2020-01-02 01:26   left_only
2    3    Jana       Prague   33   81.0  2020-01-02 01:27   left_only
3    4      Yi     Shanghai   34   80.0  2020-01-02 01:28   left_only
4    5   Robin   Manchester   38   68.0  2020-01-02 01:29   left_only
5    6    Amal        Cairo   31   61.0  2020-01-02 01:30   left_only
6    7    Nori        Osaka   37   84.0  2021-01-02 01:31   left_only
7    1  Xavier  Mexico City   41   88.0  2020-01-03 02:25  right_only
8    2     Ann      Toronto   28   79.0  2020-01-03 02:26  right_only
9    3    Jana       Prague   33   81.0  2020-01-03 02:27  right_only
10   4      Yi     Shanghai   34   80.0  2020-01-03 02:28  right_only
11   5   Robin   Manchester   38   68.0  2020-01-03 02:29  right_only
12   6    Amal        CaiRo   31   61.5  2020-01-03 02:30  right_only
13   8    Nori        Osaka   37   84.0  2021-01-03 02:31  right_only

### * Exclude the system_time column

In [6]:
compwrx = DF_Compare(copy.deepcopy(left_df),copy.deepcopy(right_df),columns_to_exclude=['system_time']) # Created the new object of DF_Compare class and print the initial shape of two DataFrames
compwrxv = compwrx.get_differences_by_compare_whole_row() # Compare the Two DataFrames by whole but exclude system_time column row and assing the result to a new variable
display(compwrxv)

Initial Shape(rows, columns): L-> (7, 6) | R-> (7, 6)
Shape(rows, columns) after delete columns to exclude: L-> (7, 5) | R-> (7, 5)
Compare by Whole Row: Exsist Left only-> 2 |Exsist Right only-> 2

   id  name   city  age  score      _merge
5   6  Amal  Cairo   31   61.0   left_only
6   7  Nori  Osaka   37   84.0   left_only
7   6  Amal  CaiRo   31   61.5  right_only
8   8  Nori  Osaka   37   84.0  right_only